* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    height: 80px;
    background-color: #F0F0F0;
    align-items: center;
    padding: 0 20px;
    min-width: 320px;
}

.navlogo {
    height: 60px;
}

.navbtm {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.navbtm a, .navbtm span {
    font-size: 16px;
    margin: 0 10px;
    text-decoration: none;
    background-color: #FF5733;
    color: #D9D9D9;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.navbtm a:hover {
    background-color: #F0F0F0;
    color: #FF5733;
    border: 1px solid #FF5733;
}

.containerlogin {
    min-height: calc(100vh - 160px);
    background-color: #FF5733;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    padding: 20px;
}

.login {
    width: 100%;
    max-width: 500px;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.restaurantname {
    font-weight: bold; 
    font-size: 24px; 
    color: #FF5733; 
    margin-bottom: 20px; 
}

.find-table-title {
    font-weight: bold; 
    color: #D9D9D9; 
    font-size: 18px; 
}

.imagecontainer {
    width: 100%; 
    margin-top: 20px;
}

.fullimage {
    width: 100%; 
    height: auto; 
    overflow: hidden; 
    border-radius: 10px; 
}

.fullimage img {
    width: 100%; 
    height: auto; 
    display: block; 
}


.footer {
    display: flex;
    height: 80px;
    background-color: #F0F0F0;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer span {
    font-size: 18px;
    color: #FF5733;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .navbtm {
        margin-right: 0;
        margin-top: 10px;
        flex-direction: column;
    }

    .login {
        width: 90%;
        height: auto;
    }

    .restaurantname, .find-table-title {
        text-align: center; 
    }
}